:root {
  --color-primary:  #E5E5E5;
  --color-secondary: #f59fdb; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 50em) {
    html {
      overflow-x: hidden; } }

body {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: minmax(min-content, 100vh) minmax(max-content, 100vh) minmax(min-content, 100vh) minmax(max-content, 50vh);
  grid-template-columns: repeat(8, [col-start] minmax(min-content, 14rem) [col-end]);
  margin: 2rem;
  overflow-x: hidden; }
  @media only screen and (max-width: 28.1875em) {
    .container {
      margin: 0; } }

.h1 {
  font-weight: 100;
  font-size: 4rem;
  letter-spacing: .5rem;
  font-family: Kanit; }

.text {
  margin-top: 3rem;
  font-weight: 100;
  font-size: 2rem;
  letter-spacing: .1rem; }

.home {
  background-image: linear-gradient(40.25deg, #6C5A8E 21.85%, #E48182 94.06%);
  grid-column: col-start 1 / col-end 8;
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: repeat(12, 4rem);
  grid-template-rows: repeat(4, 8rem);
  height: 100vh; }
  @media only screen and (max-width: 800px) {
    .home {
      grid-column: 1 / -1; } }
  @media only screen and (max-width: 23.5em) {
    .home {
      grid-template-rows: repeat(2, 8rem); } }
  .home__avatar {
    background-size: cover;
    grid-row: 1 / span 9;
    grid-column: 1 / span 7;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: static;
    max-width: 100%;
    max-height: 100%; }
    @media only screen and (max-width: 50em) {
      .home__avatar {
        grid-column: 6 / span 7;
        grid-row: 2 / span 4;
        transform: rotate(-7.5deg);
        box-shadow: 0 2.5rem 2rem rgba(0, 0, 0, 0.2); } }
    @media only screen and (max-width: 28.1875em) {
      .home__avatar {
        grid-column: 4 / span 4;
        grid-row: 1/ span 4;
        transform: rotate(-7.5deg);
        box-shadow: 0 2.5rem 2rem rgba(0, 0, 0, 0.2); } }
    @media only screen and (max-width: 23.5em) {
      .home__avatar {
        grid-column: 4 / span 4;
        grid-row: 2/ span 2; } }
  .home__content {
    text-align: left;
    padding: 7.5rem 10rem;
    color: #eee;
    grid-column: 8 / span 9; }
    @media only screen and (max-width: 23.5em) {
      .home__content {
        grid-row: 6 / -1; } }
    .home__content--h1 {
      border-bottom: 1px solid #eee; }
      @media only screen and (max-width: 28.1875em) {
        .home__content--h1 {
          font-size: 3rem; } }
      @media only screen and (max-width: 23.5em) {
        .home__content--h1 {
          font-size: 2.5rem; } }
    @media only screen and (max-width: 50em) {
      .home__content--text {
        margin-top: 1rem;
        width: 75%;
        font-size: 3rem; } }
    @media only screen and (max-width: 62.5em) {
      .home__content--text {
        margin-top: 1rem !important;
        width: 90% !important;
        font-size: 3rem !important; } }
    @media only screen and (max-width: 28.1875em) {
      .home__content--text {
        font-size: 2rem !important; } }
    @media only screen and (max-width: 50em) {
      .home__content {
        grid-row: 7 / span 1;
        grid-column: 2 / span 4;
        width: 100%;
        padding: 0;
        width: 100vw; }
        .home__content h1 {
          padding-right: 2rem;
          width: 75%; } }

.skills {
  grid-column: col-start 1 / col-end 8;
  display: grid;
  grid-template-columns: repeat(8, [skill-col-start] 1fr [skill-col-end]);
  grid-template-rows: repeat(8, 12.5vh); }
  .skills__content {
    grid-column: skill-col-start 1 / skill-col-end 5;
    grid-row: 1 / -1;
    background-image: linear-gradient(233.88deg, #D2BA7C 1.58%, rgba(228, 57, 57, 0.78) 97.99%);
    padding: 3rem;
    text-align: left;
    color: #eee;
    display: grid;
    grid-template-columns: repeat(6, minmax(min-content, 20vh));
    grid-template-rows: repeat(13, minmax(min-content, 5vw)); }
    @media only screen and (max-width: 50em) {
      .skills__content {
        grid-column: 1 / -1;
        width: 100vw; } }
    .skills__content--list {
      margin-top: 4rem;
      list-style: none;
      font-size: 1.8rem;
      font-weight: 100;
      font-family: Kanit; }
      .skills__content--list1 {
        grid-column: 1 / span 3;
        grid-row: 1 / span 4; }
      .skills__content--list h3 {
        font-weight: 500;
        font-size: 2.5rem;
        width: 20rem;
        border-bottom: 1px solid; }
        @media only screen and (max-width: 50em) {
          .skills__content--list h3 {
            font-size: 4rem; } }
        @media only screen and (max-width: 28.1875em) {
          .skills__content--list h3 {
            font-size: 2.4rem;
            width: 50%; } }
        @media only screen and (max-width: 23.5em) {
          .skills__content--list h3 {
            font-size: 2rem; } }
    .skills__content--h1 {
      grid-row: 1 / span 1;
      grid-column: 1 / -1; }
      @media only screen and (max-width: 50em) {
        .skills__content--h1 {
          font-size: 4rem; } }
      @media only screen and (max-width: 28.1875em) {
        .skills__content--h1 {
          font-size: 3rem; } }
      @media only screen and (max-width: 23.5em) {
        .skills__content--h1 {
          font-size: 2rem; } }
    .skills__content--text {
      margin-top: 1rem;
      font-weight: 100;
      font-size: 2rem;
      letter-spacing: .1rem;
      grid-column: 1 / -1;
      grid-row: 3 / span 3;
      width: 90%; }
      @media only screen and (max-width: 50em) {
        .skills__content--text {
          font-size: 3rem;
          margin-top: 1rem;
          grid-row: 2 / span 3; } }
      @media only screen and (max-width: 28.1875em) {
        .skills__content--text {
          font-size: 2rem; } }
      @media only screen and (max-width: 23.5em) {
        .skills__content--text {
          font-size: 1.5rem; } }
    .skills__content--list1 {
      grid-column: 1 / span 3;
      grid-row: 5 / span 4; }
      @media only screen and (max-width: 50em) {
        .skills__content--list1 {
          font-size: 3rem; } }
      @media only screen and (max-width: 28.1875em) {
        .skills__content--list1 {
          font-size: 1.75rem;
          font-weight: 300; } }
      @media only screen and (max-width: 23.5em) {
        .skills__content--list1 {
          font-size: 1.5rem; } }
    .skills__content--list2 {
      grid-column: 1 / span 3;
      grid-row: 9 / span 4; }
      @media only screen and (max-width: 50em) {
        .skills__content--list2 {
          font-size: 3rem; } }
      @media only screen and (max-width: 28.1875em) {
        .skills__content--list2 {
          font-size: 1.75rem;
          font-weight: 300; } }
      @media only screen and (max-width: 23.5em) {
        .skills__content--list2 {
          font-size: 1.5rem; } }
    .skills__content--list3 {
      grid-column: 4 / span 3;
      grid-row: 5 / span 4; }
      @media only screen and (max-width: 50em) {
        .skills__content--list3 {
          font-size: 3rem; } }
      @media only screen and (max-width: 28.1875em) {
        .skills__content--list3 {
          font-size: 1.75rem;
          font-weight: 300; } }
      @media only screen and (max-width: 23.5em) {
        .skills__content--list3 {
          font-size: 1.5rem; } }
    .skills__content--list4 {
      grid-column: 4 / span 3;
      grid-row: 9 / span 4; }
      @media only screen and (max-width: 50em) {
        .skills__content--list4 {
          font-size: 3rem; } }
      @media only screen and (max-width: 28.1875em) {
        .skills__content--list4 {
          font-size: 1.75rem;
          font-weight: 300; } }
      @media only screen and (max-width: 23.5em) {
        .skills__content--list4 {
          font-size: 1.5rem; } }
  .skills__img {
    grid-column: skill-col-start 6 / skill-col-end 8;
    grid-row: 1 / -1; }
    .skills__img img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    @media only screen and (max-width: 50em) {
      .skills__img {
        display: none; } }

.projects {
  background-image: linear-gradient(55.54deg, #FF5C5C 2.19%, rgba(84, 111, 183, 0.88) 99.09%);
  grid-column: col-start 1 / col-end 8;
  display: grid;
  grid-template-columns: repeat(11, minmax(9rem, 1fr));
  grid-template-rows: repeat(5, minmax(10rem, 1fr));
  color: #eee; }
  @media only screen and (max-width: 50em) {
    .projects {
      width: 100vw; } }
  @media only screen and (max-width: 28.1875em) {
    .projects {
      grid-template-rows: repeat(3, minmax(10rem, 1fr)); } }
  @media only screen and (max-width: 23.5em) {
    .projects {
      grid-template-rows: min-content; } }
  .projects__content {
    padding: 3rem 5rem;
    grid-column: 1 / span 4;
    grid-row: 1 / span 5; }
    .projects__content--h1 {
      font-size: 3rem;
      border-bottom: 1px solid #fff;
      word-wrap: break-word; }
      @media only screen and (max-width: 62.5em) {
        .projects__content--h1 {
          width: 80%; } }
      @media only screen and (max-width: 50em) {
        .projects__content--h1 {
          font-size: 3.5rem; } }
      @media only screen and (max-width: 28.1875em) {
        .projects__content--h1 {
          font-size: 2.4rem;
          width: 50%; } }
      @media only screen and (max-width: 23.5em) {
        .projects__content--h1 {
          font-size: 2rem; } }
    .projects__content--text {
      font-family: Kanit;
      font-weight: 100;
      font-size: 2rem;
      letter-spacing: .5rem;
      margin-top: 2rem !important; }
      @media only screen and (max-width: 50em) {
        .projects__content--text {
          font-size: 3rem; } }
      @media only screen and (max-width: 28.1875em) {
        .projects__content--text {
          font-size: 2rem;
          width: 50%; } }
      @media only screen and (max-width: 23.5em) {
        .projects__content--text {
          font-size: 1.5rem; } }
    @media only screen and (max-width: 50em) {
      .projects__content {
        grid-column: 1 / 9;
        grid-row: 1 / span 1; } }
  .projects__project {
    padding: 1rem;
    color: black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 5vh);
    grid-gap: 1rem;
    grid-column: 5 / -1;
    grid-row: 1 / -1;
    left: 35%; }
    @media only screen and (max-width: 75em) {
      .projects__project {
        grid-template-columns: repeat(11, 6rem);
        grid-template-rows: repeat(9, 5rem); } }
    @media only screen and (max-width: 28.1875em) {
      .projects__project {
        grid-template-columns: repeat(2, 50vw);
        grid-template-rows: repeat(3, min-content);
        grid-column: 1 / -1;
        grid-row: 2 / span 3 !important; } }
    @media only screen and (max-width: 62.5em) {
      .projects__project {
        grid-gap: 0;
        grid-row-gap: 1rem;
        grid-column-gap: 1rem;
        grid-column: 4 / 11; } }
    @media only screen and (max-width: 50em) {
      .projects__project {
        grid-column: 1 / 9;
        grid-row: 3 / span 3;
        padding-right: 3rem;
        vertical-align: center;
        grid-gap: 1.5rem; } }
    .projects__project--detail {
      transition: all .2s;
      padding: 1rem; }
      @media only screen and (max-width: 62.5em) {
        .projects__project--detail {
          text-overflow: hidden; } }
      @media only screen and (max-width: 28.1875em) {
        .projects__project--detail {
          width: 70%; } }
      .projects__project--detail h2 {
        font-weight: 300;
        font-size: 2rem;
        border-bottom: 1px solid black;
        width: 25rem; }
        @media only screen and (max-width: 62.5em) {
          .projects__project--detail h2 {
            width: 90%; } }
        @media only screen and (max-width: 50em) {
          .projects__project--detail h2 {
            border: none; } }
        @media only screen and (max-width: 28.1875em) {
          .projects__project--detail h2 {
            font-size: 1.7rem;
            width: 130%; } }
        @media only screen and (max-width: 23.5em) {
          .projects__project--detail h2 {
            font-size: 1.2rem; } }
        .projects__project--detail h2 a {
          z-index: 10; }
      .projects__project--detail p {
        font-size: 1.3rem;
        font-weight: 100;
        margin-top: 1rem;
        text-transform: uppercase;
        line-height: 2.5rem; }
        @media only screen and (max-width: 28.1875em) {
          .projects__project--detail p {
            font-size: 1.3rem;
            line-height: 2rem;
            font-weight: 300;
            width: 130%; } }
        @media only screen and (max-width: 23.5em) {
          .projects__project--detail p {
            font-size: 1rem;
            width: 140%; } }
      .projects__project--detail a {
        font-size: 2rem;
        font-weight: 100;
        border: none;
        padding: 1rem;
        border-radius: 2px;
        text-decoration: none;
        color: #eee;
        transition: all .2s; }
        .projects__project--detail a:hover {
          transform: translateY(-0.3rem); }
      .projects__project--detail:hover {
        transform: scale(1);
        box-shadow: 0 2.5rem 2rem rgba(0, 0, 0, 0.2); }
      .projects__project--detail:hover {
        transform: none;
        box-shadow: none; }
    .projects__project:hover .projects__project--detail:not(:hover) {
      transform: scale(0.9); }
    @media only screen and (max-width: 28.1875em) {
      .projects__project:hover .projects__project--detail:not(:hover) {
        transform: none; } }
    .projects__project--north {
      grid-column: 1 / span 4;
      grid-row: 1 / span 3; }
      @media only screen and (max-width: 50em) {
        .projects__project--north {
          grid-column: 2 / span 4; } }
      @media only screen and (max-width: 28.1875em) {
        .projects__project--north {
          grid-column: 1 / span 1;
          grid-row: 1 / span 1; } }
    .projects__project--css {
      grid-column: 5 / span 5;
      grid-row: 1 / span 4; }
      @media only screen and (max-width: 50em) {
        .projects__project--css {
          grid-column: 6 / span 4; } }
      @media only screen and (max-width: 28.1875em) {
        .projects__project--css {
          grid-column: 2 / span 1;
          grid-row: 1 / span 1; } }
    .projects__project--weather {
      grid-column: 1 / span 4;
      grid-row: 4 / span 3; }
      @media only screen and (max-width: 50em) {
        .projects__project--weather {
          grid-column: 2 / span 4; } }
      @media only screen and (max-width: 28.1875em) {
        .projects__project--weather {
          grid-column: 1 / span 1;
          grid-row: 2 / span 1; } }
    .projects__project--chat {
      grid-column: 1 / span 4;
      grid-row: 7 / -1; }
      @media only screen and (max-width: 75em) {
        .projects__project--chat {
          grid-row: 7 / 9; } }
      @media only screen and (max-width: 62.5em) {
        .projects__project--chat {
          grid-row: 7 / 9; } }
      @media only screen and (max-width: 50em) {
        .projects__project--chat {
          grid-column: 2 / span 4; } }
      @media only screen and (max-width: 28.1875em) {
        .projects__project--chat {
          grid-column: 2 / span 1;
          grid-row: 2 / span 1; } }
    .projects__project--stock {
      grid-column: 5 / span 5;
      grid-row: 5 / span 2; }
      @media only screen and (max-width: 50em) {
        .projects__project--stock {
          grid-column: 6 / span 4; } }
      @media only screen and (max-width: 28.1875em) {
        .projects__project--stock {
          grid-column: 1 / span 1;
          grid-row: 3 / span 1; } }
    .projects__project--portal {
      grid-column: 5 / span 5;
      grid-row: 7 / -1; }
      @media only screen and (max-width: 75em) {
        .projects__project--portal {
          grid-row: 7 / 9; } }
      @media only screen and (max-width: 50em) {
        .projects__project--portal {
          grid-column: 6 / span 4; } }
      @media only screen and (max-width: 28.1875em) {
        .projects__project--portal {
          grid-column: 2 / span 1;
          grid-row: 3 / span 1; } }

.css__links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all .2s;
  padding: 0; }
  @media only screen and (max-width: 28.1875em) {
    .css__links {
      align-content: center; }
      .css__links a {
        font-size: 1.5rem; } }

.contact {
  background-color: orangered;
  grid-column: col-start 1 / col-end 8;
  grid-row: 4 / span 1;
  background-image: linear-gradient(235.33deg, #954E49 2.94%, rgba(63, 64, 75, 0.9) 98.32%);
  display: grid;
  grid-template-columns: repeat(11, minmax(9rem, 1fr));
  grid-template-rows: repeat(3, minmax(min-content, 1fr));
  width: 100vw; }
  @media only screen and (max-width: 28.1875em) {
    .contact {
      width: 100vw; } }
  .contact__content {
    grid-column: 1 / span 4;
    grid-row: 1 / span 3;
    margin: 2rem 0;
    border-right: 1px solid #eee; }
    .contact__content--h1 {
      color: #eee;
      font-size: 4rem;
      margin: 10rem auto;
      transform: translateX(4rem); }
    @media only screen and (max-width: 50em) {
      .contact__content {
        display: none; } }
  .contact__links {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    grid-column: 5 / -1;
    grid-row: 1 / -1; }
    @media only screen and (max-width: 56.25em) {
      .contact__links {
        flex-direction: column;
        grid-column: 7 / 9;
        justify-content: space-around; } }
    @media only screen and (max-width: 50em) {
      .contact__links {
        grid-column: 1 / 9;
        flex-direction: row; } }
    @media only screen and (max-width: 28.1875em) {
      .contact__links {
        flex-direction: column;
        align-content: flex-start;
        justify-content: space-around;
        left: -20%;
        top: 2%;
        position: relative; } }
    .contact__links--item {
      text-decoration: none;
      text-align: center;
      color: #eee;
      font-size: 3rem;
      font-weight: 100;
      transition: all .2s;
      padding: 0 1rem; }
      .contact__links--item:hover {
        transform: scale(1);
        box-shadow: 0 2.5rem 2rem rgba(0, 0, 0, 0.2); }
    .contact__links:hover .contact__links--item:not(:hover) {
      transform: scale(0.9); }
