:root {
  --color-primary:  #E5E5E5;
  --color-secondary: #f59fdb; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 43.75em) {
    html {
      font-size: 40%; } }

body {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 100vh 100vh 100vh 50vh;
  grid-template-columns: repeat(8, [col-start] minmax(min-content, 14rem) [col-end]);
  margin: 2rem 2rem; }

.h1 {
  font-weight: 100;
  font-size: 4rem;
  letter-spacing: .5rem;
  font-family: Kanit; }

.text {
  margin-top: 3rem;
  font-weight: 100;
  font-size: 2rem;
  letter-spacing: .1rem; }

.home__avatar {
  background-image: linear-gradient(218.27deg, rgba(230, 206, 145, 0.21) 1.5%, rgba(248, 145, 145, 0.33) 101.28%), url("../images/me.jpg");
  background-size: cover;
  grid-column: col-start 1 / col-end 3; }
  .home__avatar img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.home__content {
  background-image: linear-gradient(40.25deg, #6C5A8E 21.85%, #E48182 94.06%);
  text-align: left;
  padding: 7.5rem 10rem;
  color: #eee;
  grid-column: col-start 4 / col-end 8;
  position: relative; }
  .home__content--h1 {
    border-bottom: 1px solid #eee; }

.home__description {
  font-weight: 100;
  font-size: 2rem;
  margin-left: 1rem; }

.skills {
  grid-column: col-start 1 / col-end 8;
  display: grid;
  grid-template-columns: repeat(8, [skill-col-start] 1fr [skill-col-end]);
  grid-template-rows: repeat(8, 12.5vh); }
  .skills__content {
    grid-column: skill-col-start 1 / skill-col-end 5;
    grid-row: 1 / -1;
    z-index: 10;
    background-image: linear-gradient(233.88deg, #D2BA7C 1.58%, rgba(228, 57, 57, 0.78) 97.99%);
    padding: 3rem;
    text-align: left;
    color: #eee; }
    @media only screen and (max-width: 62.5em) {
      .skills__content {
        grid-column: 1 / -1; } }
    .skills__content--list {
      margin-top: 2rem;
      list-style: none;
      font-size: 1.8rem;
      font-weight: 100;
      font-family: Kanit; }
      .skills__content--list h3 {
        font-weight: 500;
        font-size: 2.5rem;
        width: 20rem;
        border-bottom: 1px solid; }
    .skills__content--text {
      margin-top: 1rem;
      font-weight: 100;
      font-size: 2rem;
      letter-spacing: .1rem; }
    .skills__content--list3 {
      position: relative;
      left: 50%;
      top: -62%; }
    .skills__content--list4 {
      position: relative;
      left: 50%;
      top: -59%; }
  .skills__img {
    grid-column: skill-col-start 6 / skill-col-end 8;
    grid-row: 1 / -1; }
    .skills__img img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    @media only screen and (max-width: 62.5em) {
      .skills__img {
        display: none; } }

.projects {
  background-image: linear-gradient(55.54deg, #FF5C5C 2.19%, rgba(84, 111, 183, 0.88) 99.09%);
  grid-column: col-start 1 / col-end 8;
  display: flex;
  display: grid;
  grid-template-columns: repeat(11, minmax(9rem, 1fr));
  grid-template-rows: repeat(5, minmax(10rem, 1fr));
  color: #eee; }
  .projects__content {
    padding: 3rem 5rem;
    grid-column: 1 / span 4;
    grid-row: 1 / span 5; }
    .projects__content--h1 {
      font-size: 3rem;
      border-bottom: 1px solid #fff; }
      @media only screen and (max-width: 62.5em) {
        .projects__content--h1 {
          width: 80%; } }
    .projects__content--text {
      font-family: Kanit;
      font-weight: 100;
      font-size: 2rem;
      letter-spacing: .5rem;
      margin-top: 2rem !important; }
  .projects__project {
    padding: 1rem;
    color: black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vh);
    grid-gap: 1rem;
    position: relative; }
    @media only screen and (max-width: 75em) {
      .projects__project {
        grid-template-columns: repeat(11, 6rem);
        grid-template-rows: repeat(9, 5rem); } }
    @media only screen and (max-width: 62.5em) {
      .projects__project {
        grid-gap: 0;
        grid-row-gap: 1rem;
        grid-column-gap: 1rem;
        grid-column: 4 / 11; } }
    .projects__project--detail {
      transition: all .2s;
      padding: 1rem; }
      @media only screen and (max-width: 62.5em) {
        .projects__project--detail {
          text-overflow: hidden; } }
      .projects__project--detail h2 {
        font-weight: 300;
        font-size: 2rem;
        border-bottom: 1px solid black;
        width: 25rem; }
        @media only screen and (max-width: 62.5em) {
          .projects__project--detail h2 {
            width: 90%; } }
        .projects__project--detail h2 a {
          z-index: 10; }
      .projects__project--detail p {
        font-size: 1.3rem;
        font-weight: 100;
        margin-top: 1rem;
        text-transform: uppercase; }
      .projects__project--detail a {
        font-size: 2rem;
        font-weight: 100;
        border: none;
        padding: 1rem;
        border-radius: 2px;
        text-decoration: none;
        color: #eee;
        transition: all .2s; }
        .projects__project--detail a:hover {
          transform: translateY(-0.3rem); }
      .projects__project--detail:hover {
        transform: scale(1);
        box-shadow: 0 2.5rem 2rem rgba(0, 0, 0, 0.2); }
    .projects__project:hover .projects__project--detail:not(:hover) {
      transform: scale(0.9); }
    .projects__project--north {
      grid-column: 1 / span 4;
      grid-row: 1 / span 3; }
    .projects__project--css {
      grid-column: 5 / span 5;
      grid-row: 1 / span 4; }
    .projects__project--weather {
      grid-column: 1 / span 4;
      grid-row: 4 / span 3; }
    .projects__project--chat {
      grid-column: 1 / span 4;
      grid-row: 7 / -1; }
      @media only screen and (max-width: 75em) {
        .projects__project--chat {
          grid-row: 7 / 9; } }
      @media only screen and (max-width: 62.5em) {
        .projects__project--chat {
          grid-row: 7 / 9; } }
    .projects__project--stock {
      grid-column: 5 / span 5;
      grid-row: 5 / span 2; }
    .projects__project--portal {
      grid-column: 5 / span 5;
      grid-row: 7 / -1; }
      @media only screen and (max-width: 75em) {
        .projects__project--portal {
          grid-row: 7 / 9; } }

.css__links {
  display: flex;
  align-items: center;
  transition: all .2s;
  padding: 0; }

.contact {
  background-color: orangered;
  grid-column: col-start 1 / col-end 8;
  background-image: linear-gradient(235.33deg, #954E49 2.94%, rgba(63, 64, 75, 0.9) 98.32%);
  display: grid;
  grid-template-columns: repeat(11, minmax(9rem, 1fr));
  grid-template-rows: repeat(3, minmax(10rem, 1fr)); }
  .contact__content {
    grid-column: 1 / span 4;
    grid-row: 1 / span 3;
    margin: 2rem 0;
    border-right: 1px solid #eee; }
    .contact__content--h1 {
      color: #eee;
      font-size: 4rem;
      margin: 10rem auto;
      transform: translateX(4rem); }
  .contact__links {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 5 / -1;
    grid-row: 1 / -1; }
    @media only screen and (max-width: 56.25em) {
      .contact__links {
        flex-direction: column;
        grid-column: 7 / 9;
        justify-content: space-around; } }
    .contact__links--item {
      text-decoration: none;
      text-align: center;
      color: #eee;
      font-size: 3rem;
      font-weight: 100;
      transition: all .2s;
      padding: 0 1rem; }
      .contact__links--item:hover {
        transform: scale(1);
        box-shadow: 0 2.5rem 2rem rgba(0, 0, 0, 0.2); }
    .contact__links:hover .contact__links--item:not(:hover) {
      transform: scale(0.9); }
