:root {
  --color-primary:  #E5E5E5;
  --color-secondary: #f59fdb; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  line-height: 1.6;
  display: flex;
  justify-content: center; }

.container {
  margin: 2rem auto;
  min-height: 100vh;
  max-width: 99rem;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(11, 9rem);
  grid-template-rows: repeat(19, 10rem); }

.home__avatar {
  background-image: linear-gradient(218.27deg, rgba(230, 206, 145, 0.21) 1.5%, rgba(248, 145, 145, 0.33) 101.28%), url("../images/me.jpg");
  background-size: cover;
  grid-column: 1 / span 3;
  grid-row: 1 / span 5; }
  .home__avatar img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.home__content {
  background-image: linear-gradient(40.25deg, #6C5A8E 21.85%, #E48182 94.06%);
  text-align: left;
  padding: 7.5rem 10rem;
  color: #eee;
  grid-column: 4 / -1;
  grid-row: 1 / span 5;
  position: relative; }
  .home__content--h1::after {
    content: "";
    width: 30rem;
    height: 1px;
    background-color: #eee;
    position: absolute;
    top: 27%;
    left: 15%; }

.home__description {
  font-weight: 100;
  font-size: 2rem;
  margin-left: 1rem; }

.skills__content {
  z-index: 10;
  background-image: linear-gradient(233.88deg, #D2BA7C 1.58%, rgba(228, 57, 57, 0.78) 97.99%);
  padding: 3rem;
  text-align: left;
  grid-column: 1 / span 8;
  grid-row: 6 / span 6;
  color: #eee; }
  .skills__content--list {
    margin-top: 2rem;
    list-style: none;
    font-size: 1.8rem;
    font-weight: 100;
    font-family: Kanit; }
    .skills__content--list h3 {
      font-weight: 500;
      font-size: 2.5rem;
      width: 20rem;
      border-bottom: 1px solid; }
  .skills__content--text {
    margin-top: 1rem;
    font-weight: 100;
    font-size: 2rem;
    letter-spacing: .1rem; }
  .skills__content--list3 {
    position: relative;
    right: -50%;
    top: -50%; }
  .skills__content--list4 {
    position: relative;
    right: -50%;
    top: -50%; }

.skills__img {
  grid-column: 9 / span 3;
  grid-row: 6 / span 6; }
  .skills__img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.projects {
  background-image: linear-gradient(55.54deg, #FF5C5C 2.19%, rgba(84, 111, 183, 0.88) 99.09%);
  display: flex;
  grid-column: 1 / -1;
  grid-row: 12 / span 5;
  display: grid;
  grid-template-columns: repeat(11, minmax(9rem, 1fr));
  grid-template-rows: repeat(5, minmax(10rem, 1fr));
  color: #eee; }
  .projects__content {
    padding: 3rem 5rem;
    grid-column: 1 / span 4;
    grid-row: 1 / span 5; }
    .projects__content--h1 {
      font-size: 1rem;
      border-bottom: 1px solid #fff; }
    .projects__content--text {
      font-family: Kanit;
      font-weight: 100;
      font-size: 2rem;
      letter-spacing: .5rem;
      margin-top: 2rem !important; }
  .projects__project {
    padding: 1rem;
    color: black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, minmax(5vw, 1fr));
    grid-gap: 1rem;
    grid-column: 5 / -1;
    grid-row: 1 / span 5;
    position: relative; }
    .projects__project--detail {
      transition: all .2s;
      padding: 1rem;
      color: #cls; }
      .projects__project--detail h2 {
        font-weight: 300;
        font-size: 2rem;
        border-bottom: 1px solid black;
        width: 25rem; }
        .projects__project--detail h2 a {
          z-index: 10; }
      .projects__project--detail p {
        font-size: 1.3rem;
        font-weight: 100;
        margin-top: 1rem;
        text-transform: uppercase; }
      .projects__project--detail a {
        font-size: 2rem;
        font-weight: 100;
        border: none;
        padding: 1rem;
        border-radius: 2px;
        text-decoration: none;
        color: #eee;
        transition: all .2s; }
        .projects__project--detail a:hover {
          transform: translateY(-0.3rem); }
      .projects__project--detail:hover {
        transform: scale(1);
        box-shadow: 0 2.5rem 2rem rgba(0, 0, 0, 0.2); }
    .projects__project:hover .projects__project--detail:not(:hover) {
      transform: scale(0.9); }
    .projects__project--north {
      grid-column: 1 / span 4;
      grid-row: 1 / span 3; }
    .projects__project--css {
      grid-column: 5 / span 5;
      grid-row: 1 / span 4; }
    .projects__project--weather {
      grid-column: 1 / span 4;
      grid-row: 4 / span 3; }
    .projects__project--chat {
      grid-column: 1 / span 4;
      grid-row: 7 / -1; }
    .projects__project--stock {
      grid-column: 5 / span 5;
      grid-row: 5 / span 2; }
    .projects__project--portal {
      grid-column: 5 / span 5;
      grid-row: 7 / -1; }

.css__links {
  display: flex;
  align-items: center;
  transition: all .2s;
  padding: 0; }

.contact {
  height: 30rem;
  background-image: linear-gradient(235.33deg, #954E49 2.94%, rgba(63, 64, 75, 0.9) 98.32%);
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(11, minmax(9rem, 1fr));
  grid-template-rows: repeat(3, minmax(10rem, 1fr)); }
  .contact__content {
    grid-column: 1 / span 4;
    grid-row: 1 / -1;
    margin: 2rem 0;
    border-right: 1px solid #eee; }
    .contact__content--h1 {
      color: #eee;
      font-size: 4rem;
      margin: 10rem auto;
      transform: translateX(4rem); }
  .contact__links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-column: 5 / -1;
    grid-row: 1 / -1; }
    .contact__links--item {
      text-decoration: none;
      text-align: center;
      color: #eee;
      font-size: 3rem;
      font-weight: 100;
      transition: all .2s; }
      .contact__links--item:hover {
        transform: rotate(5deg) scale(1.1); }

.h1 {
  font-weight: 100;
  font-size: 4rem;
  letter-spacing: .5rem;
  font-family: Kanit; }

.text {
  margin-top: 3rem;
  font-weight: 100;
  font-size: 2rem;
  letter-spacing: .1rem; }
