
:root {
	--color-primary:  #E5E5E5;
	--color-secondary: #f59fdb;
}


$bp-largest: 75em;  //1200px / 16
$bp-large: 62.5em;  //1000px
$bp-big: 56.25em;   //900px
$bp-small: 50em;    //800px
$bp-smaller: 43.75em; //700px

$bp-mobile-largest: 28.1875em;  //450px
$bp-mobile-large: 23.5em;  //375px

* {
	margin: 0;
	padding: 0;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}


html {
	box-sizing: border-box;
	font-size: 62.5%;  //1rem = 10px


	

	@media only screen and (max-width: $bp-small) {
			overflow-x: hidden;
	}


	// @media only screen and (max-width: $bp-smaller) {
	// 		font-size: 40%;
	// }


}

body {
	font-family: "Kanit", sans-serif;
	font-weight: 900;
	line-height: 1.6;
}

.container {

	display: grid;

	grid-template-rows: minmax(min-content, 100vh) minmax(max-content, 100vh) minmax(min-content, 100vh) min-content;
	grid-template-columns:repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) ;

	margin: 2rem;

	overflow-x: hidden;

	@media only screen and (max-width: $bp-mobile-largest){
		margin: 0;
	}
}