.skills {

	grid-column: col-start 1 / col-end 8;


	display: grid;
	grid-template-columns: repeat(8, [skill-col-start] 1fr[skill-col-end]);
	grid-template-rows: repeat(8, 12.5vh);

	&__content {

		grid-column: skill-col-start 1 / skill-col-end 5;
		grid-row: 1 / -1;


        background-image: linear-gradient(233.88deg, #D2BA7C 1.58%, rgba(228, 57, 57, 0.78) 97.99%);		
        padding: 3rem;
		text-align: left;
		color: #eee;

		@media only screen and (max-width: $bp-small) {
			grid-column: 1 / -1;
			width: 100vw;
		}
		

			display: grid;
			grid-template-columns: repeat(6, minmax(min-content, 20vh));
			grid-template-rows: repeat(13, minmax(min-content, 5vw));



		&--list {
			margin-top: 4rem;
			list-style: none;
			font-size: 1.8rem;
			font-weight: 100;
			font-family: Kanit;

			
			&1 {
				grid-column: 1 / span 3;
				grid-row: 1 / span 4;
			}



			h3 {
				font-weight: 500;
				font-size: 2.5rem;
				width: 20rem;

				border-bottom: 1px solid;

				@media only screen and (max-width: $bp-small){
					font-size: 4rem;
				}
			}

		}

		&--h1 {
			grid-row: 1 / span 1;
			grid-column: 1 / -1;

			@media only screen and (max-width: $bp-small){
				font-size: 4rem;
			}
		}


		&--text {
			margin-top: 1rem;
			font-weight: 100;
			font-size: 2rem;
			letter-spacing: .1rem;

			grid-column: 1 / -1;
			grid-row: 3 / span 3;

			@media only screen and (max-width: $bp-small){
				font-size: 3rem;
				margin-top: 1rem;

				grid-row: 2 / span 3;
			}
		}

		&--list1 {
			grid-column: 1 / span 3;
			grid-row: 5 / span 4;

			@media only screen and (max-width: $bp-small){
				font-size: 3rem;
			}
		}

		&--list2 {
			grid-column: 1 / span 3;
			grid-row: 9 / span 4;

			@media only screen and (max-width: $bp-small){
				font-size: 3rem;
			}
		}


		&--list3 {
			grid-column: 4 / span 3;
			grid-row: 5 / span 4;

			@media only screen and (max-width: $bp-small){
				font-size: 3rem;
			}
		}


		&--list4 {
			grid-column: 4 / span 3;
			grid-row: 9 / span 4;

			@media only screen and (max-width: $bp-small){
				font-size: 3rem;
			}
		}

		
	}

	&__img {

		grid-column: skill-col-start 6 / skill-col-end 8;
		grid-row: 1 / -1;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media only screen and (max-width: $bp-small) {
			display: none;
		}
	}


}