
:root {
	--color-primary:  #E5E5E5;
	--color-secondary: #f59fdb;
}





* {
	margin: 0;
	padding: 0;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}


html {
	box-sizing: border-box;
	font-size: 62.5%;  //1rem = 10px

	overflow-x: hidden;
}

body {
	font-family: "Kanit", sans-serif;
	font-weight: 900;
	line-height: 1.6;

	display: flex;
	justify-content: center;
}

.container {
	margin: 2rem auto;
	// margin-right: -3rem;

	min-height: 100vh;
	max-width: 99rem;

	width: 100vw;

	display: grid;

	grid-template-columns: repeat(11, 9rem);
	grid-template-rows: repeat(19, 10rem);

	
}