// $color-primary: #f59fdb;
// $color-secondary: #b370c2;

.home {
	grid-column: 1 / -1;
	grid-row: 1 / span 5;
		
	display: flex;
	position: relative;

	&__avatar {	grid-column: 1 / span 3;
		grid-row: 1 / span 5;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

	}


	&__content{
		background-image: linear-gradient(40.25deg, #6C5A8E 21.85%, #E48182 94.06%);
		
		text-align: left;	
		padding: 7.5rem 10rem;
		color: #eee;

		grid-column: 4 / -1;
		grid-row: 1 / span 5;

		position: relative;

		&--h1 {
			// border-bottom: 1px solid #fff;

			&::after {
				content: "";
				width: 30rem;
				height: 1px;
				background-color: #eee;
				position: absolute;

				top: 27%;
				left: 15%;
			}
		}
	}

	&__description {
		font-weight: 100;
		font-size: 2rem;
		margin-left: 1rem;
	}
	
}

.skills {

	&__content {

		z-index: 10;

        background-image: linear-gradient(233.88deg, #D2BA7C 1.58%, rgba(228, 57, 57, 0.78) 97.99%);		padding: 3rem;
		text-align: left;

		grid-column: 1 / span 8;
		grid-row: 6 / span 6;


		&--list {
			columns: 2;
			margin-top: 2rem;
			list-style: none;
			font-size: 2rem;
			font-weight: 100;
			font-family: Kanit;
		}
	}

	&__img {
		grid-column: 9 / span 3;
		grid-row: 6 / span 6;


		img {
			display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		}
	}


}

.projects {

	background-image: linear-gradient(55.54deg, #FF5C5C 2.19%, rgba(84, 111, 183, 0.88) 99.09%);


	display: flex;

	grid-column: 1 / -1;
	grid-row: 12 / span 5;

	display: grid;
	grid-template-columns: repeat(11, 9rem);
	grid-template-rows: repeat(5, 10rem);


	&__content {
		// width: 40rem;
		padding: 3rem 5rem;

		
		grid-column: 1 / span 4;
		grid-row: 1 / span 5;
		

		&--h1 {
			font-size: 1rem;
			border-bottom: 1px solid #fff;
		}

		&--text {
			font-family: Kanit;
			font-weight: 100;
			font-size: 2rem;
			letter-spacing: .5rem;
			margin-top: 2rem !important;
		}
	}

	&__project {

		// background-image: linear-gradient( 55.54deg, 99.09%, rgba(84, 111, 183, 0.88) ,  #FF5C5C 2.19%);
		
		// background-image: linear-gradient(235.33deg, #954E49 2.94%, rgba(63, 64, 75, 0.9) 98.32%);

		padding: 1rem; 

		// width: 63rem;
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(8, 5vw);
		grid-gap: 1rem;

		grid-column: 5 / -1;
		grid-row: 1 / span 5;
		

		&--01 {
			grid-column: 1 / span 4;
			grid-row: 1 / span 3;
		}

		&--02 {
			grid-column: 5 / span 5;
			grid-row: 1 / span 4;
		}

		&--03 {
			grid-column: 1 / span 4;
			grid-row: 4 / span 2;
		}

		&--04 {
			grid-column: 1 / span 4;
			grid-row: 6 / span 3;
		}

		&--05 {
			grid-column: 5 / span 2;
			grid-row: 5 / -1;
		}

		&--06 {
			grid-column: 7 / span 3;
			grid-row:  5 / -1;
		}



		&>* {
			background-color: #eee;
		}

	}
}


.contact {
		height: 30rem;
		background-image: linear-gradient(235.33deg, #954E49 2.94%, rgba(63, 64, 75, 0.9) 98.32%);

		grid-column: 1 / -1;
		

		display: grid;

		grid-template-columns: repeat(11, 9rem);
		grid-template-rows: repeat(3, 10rem);


	&__content {
		grid-column: 1 / span 4;
		grid-row: 1 / -1;

		margin: 2rem 0;

		&--h1 {
			color: #eee;
			font-size: 4rem;

			margin: 10rem auto;

			transform: translateX(4rem)
		}

		border-right: 1px solid #eee;

}
	&__links {
		display: flex;
		// flex-direction: column;
		align-items: center;
		justify-content: space-around;

		grid-column: 5 / -1;
		grid-row: 1 / -1;

		&--item{
			text-decoration: none;
			text-align: center;
			color: #eee;
			

			font-size: 3rem;
			font-weight: 100;
			transition: all .2s;
			



			&:hover {
				transform: rotate(5deg) scale(1.1);
				// transform: translateY(-1rem);
			}
		}

		
	}
}
