.h1 {
	font-weight: 100;
	font-size: 4rem;
	// border-bottom: 1px solid #fff;
	letter-spacing: 1rem;
	font-family: Kanit;
}

.text {
	margin-top: 3rem;
	font-family: Kanit;
	font-weight: 100;
	font-size: 2.5rem;
	letter-spacing: .5rem;
}